@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primarycolor: darkcyan;
    --dark-gray: darkgray;
    --off-white: #ebedf0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

hr {
    margin: 1rem 0rem;
}


/*     Container section     */

.container {
    padding: 0rem 1rem;
}

.container-fluid {}

.container-center {
    max-width: 900px;
    margin: auto;
}

.pad-sec {
    padding: 2rem 0rem;
}


/*        @Links        */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.plink {
    background-color: var(--primarycolor);
    border-radius: 0.5rem;
    color: white;
}

.slink {
    color: var(--primarycolor);
    border-radius: 0.5rem;
    border: 1px solid var(--primarycolor);
}


/*          @List         */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/*         @navigation area         */

.navigation {
    background-color: var(--primarycolor);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .navbrand {
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.link-active {
    font-weight: bold;
}


/*           @header section            */

.hero {
    padding: 4rem;
}

.hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}


/*           @sections  area        */

.section {
    padding: 2rem;
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}


/*              footer          */

.footer {
    background-color: var(--primarycolor);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}